/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */


 /* Global Styles */
body {
  background-color: #f8f9fa;
  padding: 30px;
  font-family: 'Arial', sans-serif;
}

.forecast-main-temp{
  font-size: 2rem;
  font-weight: bold;
  color: #343a40;
}
.forecast-date-text {
  font-size: 1.6rem;
  
}

/* Main Container */
.container {
  max-width: 800px;
  margin: 0 auto;
}

/* Header Styling */
h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.5rem;
  color: #343a40;
}

/* Address Search Form */
#address-search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}
#address-search input {
  flex: 1;
  min-width: 250px;
  margin-right: 10px;
  padding: 0.5rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
#address-search button {
  flex-shrink: 0;
  padding: 0.5rem 1rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

/* Weather Data Cards */
.card {
  margin-bottom: 20px;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.card-header {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
}
.card-body {
  background-color: #fff;
  color: #343a40;
  padding: 1rem;
}

.align-items-center {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  background: linear-gradient(145deg, #e0e0e0, #c8c8c8);
  border-radius: 8px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.7);
  transition: box-shadow 0.3s ease;
  margin-bottom: 10px;
}

.align-items-center:hover {
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3), -6px -6px 12px rgba(255, 255, 255, 0.8);
}

.cached {
  color: #008910;
}